{% extends 'base.html.twig' %}

{% block body %}




    <div class="row">
        <div class="col-lg-5 text-white " style="text-shadow: 0 0 10px #000;font-size: 50px;">
            <br/><br/><br/><br/>

            <div>


                {% if app.session %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="col-lg-5 text-white " style="text-shadow: 0 0 10px #bd2130;font-size: 50px;">
                            {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="col-lg-5 text-white " style="text-shadow: 0 0 10px #005cbf;font-size: 50px;">
                        {{ flashMessage }}
                        </div>
                    {% endfor %}
                {% endif %}

            </div>




            <form action="/raffle/start" method="POST">
                <table class="table table-condensed" style="background: rgba(0, 0, 0, 0.74)">

                    {% for event in events|slice(0, 8) %}
                        <tr>
                            <td>
                                <input type="checkbox" name="{{ event.id }}">
                            </td>
                            <td>
                                {{ event.name }}
                            </td>
                            <td>
                                {{ event.date|date('Y-m-d') }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>

                <button type="submit" class="btn btn-success btn-lg">New raffle</button>
            </form>
        </div>
    </div>


{% endblock %}
