{% extends 'base.html.twig' %}

{% block body %}

    <div class="row text-center" style="background: rgba(0, 0, 0, 0.74)">
        {% for comment in raffle.commentsEligibleForRaffling %}
            <div class="col-md-3 text-white" style="text-shadow: 0 0 10px #000;font-size: 40px;">
                {{ comment.user.displayName }}
            </div>
        {% endfor %}
    </div>

    <div class="row text-center" style="height: 20px;">

    </div>

    <div class="row text-center" style="background: rgba(100, 0, 0, 0.74)">
        {% for comment in raffle.commentsNotEligibleForRaffling %}
            <div class="col-md-3 text-white" style="text-shadow: 0 0 10px #000;font-size: 40px;">
                {{ comment.user.displayName }}
            </div>
        {% endfor %}
    </div>
    <div class="row text-center text-white" style="margin-left:0px; position: absolute; bottom: 50px; width: 100%;
    background: rgba(0, 0, 0, 0.74)">
        <div class="col-md-4">
            Raffling {{ raffle.events | length }} events!
        </div>
        <div class="col-md-4">
            {% if raffle.commentsEligibleForRaffling | length > 0 %}
                <form action="{{ path('raffle_web_pick', {'id': raffle.id}) }}" method="POST">
                    <button type="submit" class="btn btn-success btn-lg"> RAFFLE!</button>
                </form>
            {% endif %}
        </div>
        <div class="col-md-4">
            There are {{ raffle.commentsEligibleForRaffling | length }} eligible comments!
            <br>
            There are {{ raffle.commentsNotEligibleForRaffling | length }} non-eligible comments!
        </div>
    </div>

{% endblock %}

